:root {
  --main-text-color: #02477c;
  --dark-blue-color: #297abf;
  --light-blue-color: #3d97dc;
  --bg-color: #b5d2f1;
  --accent-color: #d3384b;
  --grey-color: #8a8b99;
  --dark-grey-color: #39444f;
  --white-color: #ffffff;
  --black-color: #000000;
  --main-font: "Rubik";
  --accent-font: "TurismoCF";
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  min-inline-size: 360px;
  margin: 0;
  background: linear-gradient(
    to right,
    var(--bg-color) 70%,
    var(--white-color) 100%
  );
  color: var(--main-text-color);
  font-family: var(--main-font), sans-serif;
  font-size: 16px;
  font-weight: 400;
}
h1,
h2,
h3 {
  font-weight: 400;
}

p,
h1,
h2,
h3,
blockquote,
ul,
ol,
li,
figure {
  margin: 0;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: var(--accent-font), sans-serif;
  text-transform: uppercase;
}

.header__title {
  text-align: center;
  font-size: 60px;
  margin-top: 8px;
  margin-bottom: 32px;
}

.circle-nav {
  position: relative;
  width: 100%;
}

.circle {
  position: absolute;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #b5d2f1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  z-index: 1;
  color: var(--white-color);
}

.circle--one {
  top: 26px;
  left: 0.7%;
  z-index: 0;
  background-color: var(--accent-color);
}

.circle--two {
  top: 100px;
  left: 15.3%;
  z-index: 1;
  background-color: var(--dark-blue-color);
  width: 220px;
  height: 220px;
}

.circle--three {
  top: 0;
  left: 35.4%;
  z-index: 2;
  background-color: var(--main-text-color);
  width: 331px;
  height: 331px;
  align-items: flex-end;
  flex-direction: row;
}

.circle--four {
  top: 5px;
  right: 15%;
  z-index: 1;
  background-color: var(--light-blue-color);
  width: 200px;
  height: 200px;
}

.circle--five {
  top: 116px;
  right: 0.8%;
  z-index: 0;
  background-color: var(--grey-color);
}

.main-character img {
  object-fit: cover;
  object-position: bottom;
  width: 300px;
  height: auto;
}

.content__title {
  font-size: 36px;
}

.circle__text {
  font-size: 24px;
  text-transform: uppercase;
}
.circle__text--small {
  font-size: 16px;
}

.circle__icon {
  fill: var(--white-color);
}

.circles-wrapper {
  position: relative;
  width: 1020px;
  height: 352px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .header__title {
    margin: 0;
  }
  .circles-wrapper {
    transform: scale(0.8);
    bottom: 5px;
  }
}
